version: '3'
services:
  load_articles:
    image: data2knowledge/reactive-wtl:1.7.1
    container_name: load_articles
    external_links:
      - elastic1
      - elastic2
    volumes:
#      - /Users/fabiofumarola/articles:/opt/docker/backup
      - /home/kdde:/opt/docker/backup
    command: "-e prod_single -j LoadArticles"

networks:
  default:
    external:
      name: kddeenv_esnet
